.tableStart {
   cursor: pointer;	
   position: absolute; 
   top: 3px; 
   left: 5; 
   height: 24px;
   overflow: hidden;
}

.tableOther {
   cursor: pointer;	
   position: absolute; 
   top: 3px; 
   left: 0; 
   height: 24px; 
   overflow: hidden;
   display: none;
}
