body {
   -moz-user-select: none;
   font: 9pt "宋体";
}

.tabBody {
   margin: 0;
  
   border-left: 1px solid #016dc9;
   border-right: 1px solid #016dc9;
   background: #0b7fd9;
}

.tabTable1 {
   height: 1px;
   background: red;
}

.tabTable2 {
   height: 24px;
   background: repeat-x top;
}

.divTitles {
   z-index: 2; 
   position: absolute; 
   top: 0px; 
   left: 0; 
   width: 0px; 
   -moz-user-select:none;
}

.tableStart {
   cursor: pointer;	
   position: absolute; 
   top: 1px; 
   height: 24px;
   overflow: hidden;
}

.tableOther {
   cursor: pointer;	
   position: absolute; 
   top: 1px; 
   left: 0; 
   height: 24px; 
   overflow: hidden;
   display: none;
}

.cursorDefault {
   cursor: default;
}

.cursorPointer {
   cursor: pointer;
}

.tab_titleFirst1 {
   cursor: default;
   background: url(images/tab_left_B.png) repeat-x center;
    width:12px;
}

.tab_titleFirst2 {
   cursor: pointer;
   background: url(images/tab_left.png) repeat-x center;
   width:12px;
}

.tab_titleFirst3 {
   cursor: pointer;
   background: url(images/tab_left.png) repeat-x center;
   width:12px;
}

.tab_title11 {
   cursor: pointer;
   background: url(images/tab_left_B.png) repeat-x center;
   width:12px;
}

.tab_title12 {
   cursor: pointer;
   background: url(images/tab_right_B.png) repeat-x center;
   font: 9pt "宋体";
   color: #fff;
   padding-top:1px;
   height:26px;
}

.tab_title13 {
   cursor: default;
   background: url(images/tab_right_B.png) repeat-x center;
}

.tab_title21 {
   cursor: pointer;
   background: url(images/tab_left.png) repeat-x  center;
   width:12px;
}

.tab_title22 {
   cursor: pointer;
   background: url(images/tab_left.png) repeat-x center;
   font: 9pt "宋体";
   color: #355368;
   padding-top:1px;
   height:26px;
}

.tab_title23 {
   cursor: pointer;
   background: url(images/tab_right.png) no-repeat center;
}

.tab_title31 {
   cursor: pointer;
   background: url(images/tab_left.png)  repeat-x center;
    width:12px;
}

.tab_title32 {
  cursor: pointer;
   background: url(images/tab_right.png) repeat-x center;
   font: 9pt "宋体";
   color: #355368;
   padding-top:1px;
   height:26px;
 
}

.tab_title33 {
   cursor: pointer;
   background: url(images/tab_right.png) no-repeat bottom;
}

.tab_scrollLeft1 {
   cursor: pointer;
   background: url(images/tab_scrollLeft.gif) no-repeat top;
}

.tab_scrollLeft2 {
   background: url(images/tab_scrollLeft.gif) no-repeat bottom; 
}

.tab_scrollRight1 {
   cursor: pointer;
   background: url(images/tab_scrollRight.gif) no-repeat top;
}

.tab_scrollRight2 {
   background: url(images/tab_scrollRight.gif) no-repeat bottom; 
}

.div_title1 {
   font-size: 1px; 
   width: 12px; 
   height: 21px;
}

.div_title2 {
   font-size: 1px; 
   height: 5px;
}

.div_title3 {
   font-size: 1px; 
   width: 16px;
   margin-right: 5px;
}

.div_close1 {
   font-size: 1px; 
   width: 16px;
   height:16px;
   cursor: pointer;
   background: url(images/_close3.png) no-repeat top;
}

.div_close2 {
   font-size: 1px; 
   width: 16px;
   height:16px;
   cursor: pointer;
   background: url(images/_close3.png) no-repeat top;
}