<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>test.html</title>
	
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
	<script type="text/javascript" src="../../../framework/easyui/jquery.min.js"></script>
		<script type="text/javascript" src="../../tools/SysTool.js"></script>
	<script type="text/javascript" src="js/stateControl.js"></script>
  </head>
  
  <body>
    <div id="test1">
	sdfsdfsd</div>
----------------------------------test
	<div id="test">
	</div>
	<script type="text/javascript">
		StateControl.init("test","test1");
		 StateControl.numberChange(100, "red");
		 StateControl.setFunction("gray", function(){
			alert("call gray function");
		});
	</script>
  </body>
</html>
