@charset "utf-8";
/* CSS Document */
body{margin:0px; padding:0px; background:url(../images/index/bg_02.jpg)  no-repeat #FFF center center;}
img{border:0px;}
.nav_wrap_01{width:524px; height:542px; margin:30px auto;}
