<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>leftLayout demo</title>
<script type="text/javascript" src="../../tools/SysTool.js"></script>
<script type="text/javascript" src="../../../framework/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="js/leftLayout.js"></script>
</head>

<body>
<div class="body_map" id="mapContainer"></div>
<script type="text/javascript">
	LeftLayout.init({mapContainerId: "mapContainer"},function(){alert(1);});
</script>
</body>
</html>