/*-公共样式-*/
html{ margin:0; padding:0; border:none;}
body{ margin:0; padding:0; border:none; height:100%; width:100%; overflow:auto; font:normal 12px/22px Arial,"宋体"; min-width:800px;}
.lf{ float:left}
.rt{ float:right}
img{ border:none}
a{ blr:expression(this.onFocus=this.blur()); outline:none;text-decoration:none;}
a:focus { outline:none;-moz-outline:none;}
.clear{ clear:both; height:0; width:100%;line-height:0px;}
.padding5{ padding:5px;}
.padding6{ padding:6px 6px 10px;}


.body_lf{width:275px; height:100%; position:absolute; top:0; left:-225px;  background:#f2f9ff; z-index:998;}/*width:275px;*/
.lf_tabemenu{width:50px; height:100%; position:relative; z-index:999; background:#b5cbde;}/*background:#dbe9f5;*/
.lf_tabeul{padding:10px 0 2px;margin:0; list-style:none; position:relative;background:#1c85d1;}
.lf_tabeul li{ width:50px; height:45px; padding:0; margin:0; position:relative; background:url(../images/bg_lfli.png) left 43px no-repeat; z-index:900; display:block; overflow:hidden;}
.lf_tabeul li.lfli_on{ color:#ffffff; position:relative; z-index:1999;}/* background:url(../images/bg_rtmenu_on.png) right repeat-y;*/
.lf_tabeul li.lfli_onrtb{ background:url(../images/bg_lfli_on.png) right repeat-y; color:#005c84; position:absolute; top:10px; left:0; z-index:800;}
.lf_tabeul li a{ display:block; width:34px;  padding:7px 6px 7px 10px; height:31px; color:#fff;  text-align:center; line-height:16px;}
.lf_tabeul li.lfli_on a{ color:#01aeff;}
.lf_tabeul li.lfli_onrtb a{ color:#005c84;}

.left_shadow{ height:100%; width:6px; background:url(../images/bg_shadow_left.png) repeat-y; position:absolute; top:0; right:-6px; z-index:1000;}
.left_cont{position:relative; padding:0; z-index:1001;}
.lf_menu{ width:53px; height:auto; position:absolute; right:-53px; bottom:0; z-index:997;}
.btn_lftshow,btn_lfthide{ width:53px; height:45px; display:block; background:url(../images/btn_lftoggle.png) 0 -49px no-repeat;}
.btn_lftshow:hover{ background-position:0 -147px;}
.btn_lfthide{ background-position:0 0;}
.btn_lfthide:hover{ background-position:0 -98px;}

.lf_dllict{height:auto;padding:0; overflow:auto; z-index:100;}
.lf_dllict dl:hover{background:#b5cbde;}
.load_lf{ width:0px;  position:absolute; top:0; left:0; background:none; z-index:199;overflow:visible}
