@CHARSET "UTF-8";
#infoDiv{
	overflow: auto;
}
#infoDiv input{
	border:0;
	width:100%;
	height:28px;
}
#zdryOpButtonTr td{
	border:0;
}

#otherInfoListDiv{
	overflow: none;
	border:1px solid #17a9ff;
}