@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	background: #eaeff3;
	overflow: auto;
}

#ullis li {float:left;width:100px;height:26px;line-height:30px;text-align:center;border:1px solid #17a9ff;border-bottom:none;cursor: pointer;}
#ullis ul li.fli {color:black;}
#ullis ul {overflow:hidden;zoom:1;list-style-type:none;}

#tab_con div.dgCss {display:block;}
a {
	color: #666;
	text-decoration: none;
}

.leftDiv {
	width: 32.9%;
	height: 100%;
	float: left;
}

.leftDiv .leftCss {
	height: 47.6%;
	margin-left: 10px;
	margin-top: 10px;
	border: 1px solid rgb(17, 144, 241);
}

.centerDiv {
	width: 45%;
	height: 100%;
	float: left;
}

.centerDiv .centerCss {
	height: 47.6%;
	margin: 10px;
}

.centerDiv .centerCss1 {
	height: 47.6%;
	width:100%;
	margin: 10px;
	border: 1px solid rgb(17, 144, 241);
}

.titleCss {
	font: normal 16px "微软雅黑";
	color: #FFF;
	line-height: 26px;
	text-align: left;
	background: rgb(17, 144, 241);
}



.centerDiv .centerTopCss {
	width: 48.6%;
	height: 100%;
	float: left;
	border: 1px solid #17a9ff;
}

.centerDiv .centerTopCss1 {
	width: 49.6%;
	height: 100%;
	float: left;
	margin-left: 10px;
	border: 1px solid #17a9ff;
}

.centerDiv .centerDiv2 {
	background: #FFF;
	height: 47.6%;
	margin: 10px;
	border: 1px solid #17a9ff;
}

.centerDiv .dgCss {
	height: 90%;width:100%;overflow: auto;
}

.rightDiv {
	width: 21.9%;
	height: 100%;
	float: left;
}

.rightDiv .rightCss {
	height: 31.2%;
	margin-right: 10px;
	margin-top: 10px;
	border: 1px solid rgb(17, 144, 241);
}

.rightDiv .rightCss1 {
	height: 64.2%;
	margin-right: 10px;
	margin-top: 10px;
	border: 1px solid rgb(17, 144, 241);
}

.messageCss {
	height: 85%;
	overflow:hidden;
}
.messageCsscenter {
	height: 95%;
	overflow:hidden;
}
.messageCsscenter li {
	padding: 5px;
	height: 18px;
	line-height: 18px;
}

.messageCsscenter li a {
	line-height: 18px;
}

.messageCsscenter li a:hover {
	color: #FF0000;
}

.messageCsscenter li a font {
	color: #626262;
	font-weight: bold;
}

.messageCsscenter li span {
	float: right;
	color: #009900;
	font-weight: bold;
}

.xqTitle {
	font: normal 16px "微软雅黑";
	clear: both;
	color: #FFF;
	width: 75px;
	line-height: 26px;
	text-align: center;
	background: rgb(17, 144, 241);
}

.jobVal {
	float: left;
	width: 22%;
	margin: 1%;
	cursor: pointer;
	line-height: 20px;
	white-space: nowrap;
}

.jobVal em {
	width: 2px;
	background: rgb(17, 144, 241);
}

.jobVal a {
	color: #000000;
}

.jobVal a:hover {
	color: #FF0000;
}

.menuCss {
	float:left;
	width: 40%;
	height: 19%;
	margin: 14px;
	cursor:pointer;
	text-align: center;
}

.menuCss span{
	color:#FFF;
	font: normal 18px "宋体";
	line-height: 100px;
}

.menuCssTd{
	width: 40%;
	height: 20%;
	text-align: center;
	color:#FFF;
	font: normal 18px "宋体";
	cursor:pointer;
	
}

.menuCss font{
	font-size: 100px;
}

