	.nameTable{ width:500px;height:auot;overflow:hidden;}
	.nameTable tr{height:auto;}
	.nameTable th{line-height:26px; color:#666;font-weight:normal;word-wrap:break-all;}
	.nameTable td{line-height:20px; color:#333;word-wrap:break-all; }
	.jbxxTable{ height:auot;overflow:hidden;}
	.jbxxTable th{line-height:20px; color:#666;font-weight:normal;word-wrap:break-all;}
	.jbxxTable td{line-height:20px; color:#333;word-wrap:break-all; }
	.spantitleb{width:160px;text-align:right;color:#666;height:24px;line-height:20px;margin:0;padding:0;float:left;}
	.input_w2b{width:170px;}
	.edit_btn{width:120px;height:24px;line-height:24px; margin:0 auto;padding:2px 0 0 20px; background:url(../images/edit/edit_add.png) left center no-repeat;}
	.panel-body {
	  border-color: #dddddd;
	}
	.lititle{
		text-align:left;font-size:20px;width:650px;float:left; color:#007be3; overflow:hidden;
	}